<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mozi Adatbázis - Kezdőlap</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="landing is-preload">

<div id="page-wrapper">

    <header id="header" class="alt">
        <h1><a href="/">MoziDB</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menü</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="/">Főoldal</a></li>
                            <li><a href="/adatbazis">Adatbázis (Filmek)</a></li>
                            <li><a href="/kapcsolat">Kapcsolat</a></li>
                            <li><a href="/uzenetek">Üzenetek</a></li>
                            <li><a href="/mozi-kezeles">Mozi Szerkesztő</a></li>
                            <li><a href="/login">Belépés</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        <div class="inner">
            <h2>Mozi Adatbázis</h2>
            <p>A Művészfilm Kht. több városban is üzemeltet mozit.<br />
                A fenntartott mozik mindegyike legfeljebb napi egy vetítést tart.<br />
                A nézőszámokról és bevételekről a cég pontos nyilvántartást vezet.</p>
            <ul class="actions special">
                <li><a href="/adatbazis" class="button primary">Adatok Megtekintése</a></li>
            </ul>
        </div>
        <a href="#footer" class="more scrolly">Tovább</a>
    </section>

    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Minden jog fenntartva.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>